<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    <title>N-Air a E-commerce category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <meta charset utf="8">
        <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static 'js/simpleCart.min.js' %}"></script>
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="header-top">
                    <div class="logo">
                        <a href="{% url 'home' %}">N-AIR</a>
                    </div>
                    <div class="login-bars">
                        {% if user.is_authenticated %}
                            <a class="btn btn-default log-bar" href="{% url 'profile' %}" role="button">
                                {{ user.username }}
                            </a>
                            <a class="btn btn-default log-bar" href="{% url 'logout' %}" role="button">
                                Logout
                            </a>
                        {% else %}
                            <a class="btn btn-default log-bar" href="{% url 'login' %}" role="button">
                                Login
                            </a>
                            <a class="btn btn-default log-bar" href="{% url 'register' %}" role="button">
                                Sign up
                            </a>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="header-botom">
                    <div class="content white">
                        <nav class="navbar navbar-default nav-menu" role="navigation" style="display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse collapse-pdng" id="bs-example-navbar-collapse-1" style="flex-grow: 1;">
                                <ul class="nav navbar-nav nav-font" style="display: flex; align-items: center; flex-wrap: wrap;">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            {% for i in ctg %}
                                            <li><a href="{% url 'products' slug=i.slug %}">{{ i.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    
                                    {% for i in ctg %}
                                    <li><a href="{% url 'products' slug=i.slug %}">{{ i.name }}</a></li>
                                    {% endfor %}
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>

                            <div class="search-container" style="padding: 10px 15px; display: inline-block; vertical-align: middle;">
                                <form action="{% url 'home' %}" method="get" style="display: flex; align-items: center; max-width: 250px; background: #fff; border: 1px solid #ddd; border-radius: 4px; overflow: hidden;">
                                    <input type="text" name="search" placeholder="Krossovka qidirish..." value="{{ query|default:'' }}" style="padding: 6px 12px; border: none; width: 100%; color: #333; font-size: 13px; font-family: 'Roboto', sans-serif; outline: none; background: transparent;">
                                    <button type="submit" style="padding: 6px 12px; background: transparent; color: #111; border: none; cursor: pointer; outline: none;">
                                        <span class="glyphicon glyphicon-search" style="font-size: 12px;"></span>
                                    </button>
                                </form>
                            </div>
                            
                            <div class="clearfix"></div>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock content %}

        <div class="footer-grid">
            <div class="container">
                <div class="col-md-2 re-ft-grd">
                    <h3>Categories</h3>
                    {% for i in ctg %}
                    <ul class="categories">
                        <li><a href="{% url 'products' slug=i.slug %}">{{i.name}}</a></li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="col-md-2 re-ft-grd">
                    <h3>Short links</h3>
                    <ul class="shot-links">
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                        <li><a href="{% url 'register' %}">Sign Up</a></li>
                    </ul>
                </div>
                <div class="col-md-6 re-ft-grd">
                    <h3>Social</h3>
                    <ul class="social">
                        <li><a href="https://www.youtube.com/@free_dev_2610" target="_blank" class="fb">Youtube</a></li>
                        <li><a href="https://instagram.com/shxrtvc_fr" target="_blank" class="twt">Instagram</a></li>
                        <li><a href="https://t.me/shxrtvc_fr" target="_blank" class="gpls">Telegram</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="col-md-2 re-ft-grd">
                    <div class="bt-logo">
                        <div class="logo">
                            <a href="{% url 'home' %}" class="ft-log">N-AIR</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="copy-rt">
                <div class="container">
                    <p>&copy; 2026 N-AIR All Rights Reserved. Design by <a href="http://portfoliofree.netlify.app">Firdavs Dev</a></p>
                </div>
            </div>
        </div>
    </body>
</html>